:root{
    --main-text: white;
}

* {
    background-color: black;
    font-size: 32px;
    color: var(--main-text);
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    cursor: : pointer;
    text-decoration: underline;
}

a:visited {
    color: gold;
}

nav {
    margin: 3%;
    font-weight: 100;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 1%;
    box-sizing: border-box;;
}

header img {
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

#tdr_banner {
    display: none;
}

#tdr_text {
    display: block;
    width: 85%;
    margin-top: 10%;
}

main {
    margin: 3%;
    padding: 80px;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 1%;
    border-bottom: solid 5px gold;
}

section {
    margin: 3%;
}

section p {
    text-align: center;
    padding-top: 2%;
    font-size: .8em;
    font-weight: 200;
    line-height: 1.3;
}

.links {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1350px) {
    
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    #tdr_banner {
        display: block;
        width: 75%;
        margin-top: 10%;
    }

    #tdr_text {
        display: none;
    }

    section h2 {
        text-align: left;
    }

    section p {
        text-align: left;
    }
}