:root{
    --main-text: white;
}

* {
    background-color: black;
    font-size: 32px;
    color: var(--main-text);
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    cursor: : pointer;
    text-decoration: underline;
}

a:visited {
    color: gold;
}

nav {
    margin: 3%;
    font-weight: 100;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

header img {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: 3%;
    padding: 80px;
}

section h2 {
    display: block;
    text-align: left;
    font-size: 1.5em;
    font-weight: 300;
}

section {
    margin: 3%;
}

section p {
    text-align: left;
    padding-top: 2%;
    font-size: .8em;
    font-weight: 200;
    line-height: 1.3;
}

.links {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
}