:root{
    --gold-text: rgb(154, 130, 109);
    --content-text: #fff;
}

html {
    scroll-behavior: smooth;
}


* {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    font-size: 32px;
    color: var(--gold-text);
}

a {
    display: inline-block;
    text-decoration: none;
    font-weight: 200;
}

a:hover {
    cursor: : pointer;
    /* text-decoration: underline; */
    box-shadow: 0 1px 0 var(--gold-text);
    display: inline-block;
}

a:visited {
    color: var(--gold-text);
}

nav {
    margin: 3%;
    font-weight: 100;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 1%;
    box-sizing: border-box;;
}

header img {
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

#tdr_banner {
    display: none;
}

#tdr_text {
    display: block;
    width: 85%;
    margin-top: 10%;
}

main {
    margin: 3%;
    padding: 80px;
}

section h2 {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 1%;
    border-bottom: solid 5px var(--gold-text);
}

section {
    margin: 3%;
}

section p {
    text-align: center;
    padding-top: 2%;
    font-size: .8em;
    font-weight: 200;
    line-height: 1.3;
    color: var(--content-text);
}

.links {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
}

.links div {
    margin: .5% 0;
}

#about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#group-photo {
    height: 350px;
    margin-right: 40px;
}

#trad-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#trad-content iframe {
    margin-right: 40px
}

#trad-content p {
    text-align: center;
}

#trad-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#new-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#new-content iframe {
    margin-right: 40px
}

#new-content p {
    text-align: center;
}

#new-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sftb-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sftb {
    height: 350px;
    margin-right: 40px;
}

#hard-tellin-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hard-tellin {
    height: 350px;
    margin-right: 40px;
}

footer {
    margin: 15% 0 30px 0;
    text-align: center;
    font-weight: 200;
}

@media screen and (min-width: 1350px) {
    
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }

    #tdr_banner {
        display: block;
        width: 75%;
        margin-top: 10%;
    }

    #tdr_text {
        display: none;
    }

    section h2 {
        text-align: left;
    }

    section p {
        text-align: left;
    }
}